@media screen and (max-width: 1250px) {
    .header {
        justify-content: space-between;

        &-form {
            display: none;
        }

        &-list {
            display: none;
        }

        &-login-button {
            display: block;
        }

        &-menu-mobile {
            display: block;
        }
    }

    .welcome-section-img-container {
        padding: 0 40px;
    }

    .features-container {
        flex-direction: column;
    }

    .features-img-container {
        margin-bottom: 80px;
    }

    .features-center-subtitle {
        margin-bottom: 66px;
    }

    .subscribe-img-container {
        margin: 2$font-size-base 14px 110px 14px;
    }

    .partners-center-title {
        margin-top: 60px;
    }

    .partners-center-item {
        list-style: none;
        display: inline;
        margin: 30px 30px;
    }

    .pricing-text {
        margin-right: 150px;
    }

    .contact-head-title {
        margin-top: 160px;
    }

    .contact-head {
        text-align: center;
    }

    .footer-first,
    .footer-second,
    .footer-third {
        margin-right: 40px;
    }
}

@media screen and (max-width: 800px) {
    .pricing-text {
        margin-right: 50px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 82px 0 98px;
    }

    .footer-first,
    .footer-second,
    .footer-third {
        margin: 0 0 82px;
    }

    .testimonials-card-mobile {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .subscribe-center {
        flex-direction: column;
    }

    .subscribe-news {
        text-align: center;
        margin-left: 0;
    }

    .subscribe-img {
        max-width: 400px;
    }

    .subscribe-center-subtitle {
        display: none;
    }

    .subscribe-center-title-main {
        display: none;
    }

    .subscribe-mobile-title {
        display: block;
        text-align: center;
    }

    .subscribe-img-container {
        margin: 5px 14px;
    }

    .subscribe-center-title {
        margin-bottom: 114px;
    }

    .subscribe-form-button {
        width: 95%;
        max-width: 353px;
    }

    .subscribe-form-input {
        margin-right: 0;
        width: 95%;
        max-width: 353px;
    }

    .pricing {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-left {
            text-align: center;
        }

        &-text {
            margin: 0 0 2px 0;
        }

        &-button {
            margin: 19px auto 100px;
            display: block;
        }
    }

    .contact-head-numbers-item {
        margin-right: 20px;
    }
}

@media screen and (max-width: 560px) {

    .welcome-section {
        padding-bottom: 0px;
        margin-bottom: 166px;
    }

    .center-section {
        padding: 0 30px;

        &-button {
            margin-bottom: 65px;
        }

        &-title {
            font-weight: normal;
            font-size: 46px;
        }

        &-subtitle {
            width: 350px;
            margin-bottom: 60px;
        }
    }

    .header {
        padding-left: 0px;
        padding-right: 20px;
        padding-bottom: 30px;

        &-logo-container {
            padding-right: 0px;
        }
    }

    .features-img {
        box-shadow: 0px 4.00575px 8.01149px rgba(0, 0, 0, 0.16), 0px 4.00575px 53.41px rgba(0, 0, 0, 0.23);
    }

    .features-img-container {
        margin-left: $font-size-base;
        margin-right: $font-size-base;
    }

    .features-second-item-text {
        margin-bottom: 108px;
    }

    .lighting-center-title {
        margin: 0 60px 26px;
    }

    .lighting-center-subtitle {
        padding-top: 80px;
        margin-top: 0;
    }

    .lighting-center-text {
        margin-bottom: 70px;
    }

    .lighting-button-1,
    .lighting-button-2 {
        margin-bottom: 80px;
    }

    .contact-head-map {
        margin-bottom: 68px;
    }

    .contact-head-map-img {
        display: none;
    }

    .contact-head-map-mobile {
        display: block;
    }

    .contact-head-numbers {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 68px;
    }

    .contact-head-numbers-item {
        flex-direction: row;
    }

    .contact-adress {
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: left;
    }
}

@media screen and (max-width: 430px) {
    .welcome-section {
        background-image: url("../img/gradient_m.png");
    }

    .partners-center-images {
        flex-direction: column;
    }

    .partners-mobile-nodisplay {
        display: none;
    }

    .partners-center-button {
        margin-top: 113px;
        margin-bottom: 50px;
    }

    .testimonials-title {
        margin-top: 120px;
        margin-bottom: 108px;
    }

    .testimonials-card-1 {
        margin-bottom: 69px;
    }

    .testimonials-button {
        margin-top: 29px;
    }

    .header-logo {
        width: 100%;
        max-width: 186px;
    }
}

@media screen and (max-width: 370px) {
    .center-section {
        padding: 0 5px;
    }
}