.contact {
    &-head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-title {
            margin-top: 210px;
            margin-bottom: 28px;
            font-weight: 400;
            font-size: 46px;
            line-height: 57px;
            color: #252B42;
        }

        &-text {
            margin-bottom: 74px;
            font-weight: 700;
            font-size: $font-size-base;
            line-height: 20px;
            color: #374754;
        }

        &-networks {
            margin-bottom: 74px;
        }

        &-items {
            display: inline;
            margin-right: 32px;
        }

        &-map {
            margin: 0 20px 60px;
        }

        &-map-img {
            width: 100%;
            max-width: 872px;
        }

        &-map-mobile {
            display: none;
            width: 100%;
            max-width: 358px;
        }

        &-numbers {
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-numbers-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 35px;
        }
    }


    &-adress {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #374754;
        margin-top: 20px;
    }

    &-signup-title {
        font-weight: 700;
        font-size: $font-size-secondary;
        line-height: 33px;
        color: #252B42;
        text-align: center;
        margin-bottom: 45px;
    }

    &-form-button {
        padding: 18px 38px;
        font-weight: $font-weight;
        font-size: $font-size-base;
        line-height: $font-size-base;
        color: $color-white;
        background: $color-primary;
        border-radius: 35px;
        border: none;
        cursor: pointer;
    }

    &-signup {
        padding: 52px 50px;
        gap: 45px;
        border: 1px solid #DDDDDD;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        width: 95%;
        max-width: 868px;
        margin: 0 20px 150px;

    }

    &-form-input {
        padding: 19px 20px;
        background: #F5F5F5;
        border: 1px solid #E8E8E8;
        border-radius: 39px;
        margin-bottom: 45px;
        width: 100%;
        max-width: 768px;

    }

    &-form-input-msg {
        padding: 23px 20px;
        background: #F5F5F5;
        border: 1px solid #E8E8E8;
        margin-bottom: 45px;
        width: 100%;
        max-width: 768px;
        height: 193px;
        font-family: 'Roboto', sans-serif;
        resize: none;
    }
}

.subscribe-news-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 3px solid #fefefe;
    border-radius: 50%;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 4px;
    width: 26px;
    height: 4px;
    background: #fefefe;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}